body{
    text-align: center;
    font-family: Arial, sans-serif;
}

h1{
    font-size: 50px;
    text-shadow: 2px 2px 4px rgba(0, 0, 0, 0.2);
}

.board{
    display: grid;
    grid-template-columns: repeat(3, 100px);
    grid-gap: 5px;
    margin: 20px auto;
}

.cell{
    width: 100px;
    height: 100px;
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 2em;
    background-color: rgba(255, 255, 255, 1);
}

#result{
    font-size: ;
}